welcome::before{
    content: "";
    height: 100vh; 
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-image: url(../Img/OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #00ff72;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: whitesmoke;
}

.welcome{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(blue,#f31af747);
    display: flex;
}

h1 {    
    color: rgb(255, 255, 255);
}


.welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;  
}

.project-site{
    height: 18vh;
    background-image: linear-gradient(#f31af747,#f31af747);
}

.project-tile{
    margin-bottom: 500px;
    background-image: linear-gradient(#f31af747,white);
    height: 100vh;
    display: grid;
    gap: 20px 30px;
    grid-template-columns: auto auto;
}

.project-container{
    background-color: rgb(136, 233, 10);
    text-align: center;
}

.contact-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;
}

.contact-me{
    margin-top:400px;
    height: 35vh;
}

@media only screen and (max-width: 600px) {
    body {
        background-color:aqua;
    }
}
