.welcome{
    height: 100vh;
    background-color: #00ffff;
}

.project-tile{
    display: grid;
    gap: 20px 30px;
    grid-template-columns: auto auto;
    background-color: dimgrey;
}

.project-container{
    background-color: peru;
}